.section-container {
  padding: 20px;
  border: 1px solid rgb(240,240,240);
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.employee-dashboard {
  margin-top: 20px;
}