.login-form-container {
  max-width: 600px;
}

.login-form {
  padding: 30px;
  border: 1px solid $light-grey;
  background-color: white;
  box-shadow: 1px 1px 4px $light-grey;
  border-radius: 5px;
}