.performance-review {
  border: 1px solid rgb(222,222,222);
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.performance-review-title {
  margin-bottom: 10px;
  font-weight: bold;
}